body{
    background-image: url(img/bg1.jpg);
}
img {
    width: 500px;
    height: 500px;
    border: 1px solid #999;
  }
  .conteiner {
      text-align: center;
      font-size: 25px;
      font-weight: bold;;
      padding: 30%;
      padding-top: 3%;
  }
  .card-link:hover {
      background-color: rgb(233, 170, 170);
      
  }

.fas:hover{
    color: rgb(245, 11, 11);
    cursor: pointer;
}
